<div class="weui-uploader">
    <div class="weui-uploader__hd">
        <p class="weui-uploader__title">
            <ng-content></ng-content>
        </p>
        <div class="weui-uploader__info">{{files.length}}/{{max}}</div>
    </div>
    <div class="weui-uploader__bd">
        <ul class="weui-uploader__files">
            <li class="weui-uploader__file" (click)="reload(file)" [class.weui-uploader__file_status]="!file.finished" *ngFor="let file of files"
                [style.background-image]="'url('+file.imgSrc+')'">
                <img style="width: 100%;" *ngIf="file.finished && file.type.indexOf('image')>-1" [src]="file.url" />
                <video style="width: 100%;" *ngIf="file.finished && file.type.indexOf('video')>-1" [src]="file.url"></video>
                <div class="file_remove" (click)="remove(file)"></div>
                <div class="weui-uploader__file-content" *ngIf="!file.finished">{{file.percent}}%</div>
            </li>
        </ul>
        <div class="weui-uploader__input-box" (click)="wechatUplaoder()">
            <div class="meepo_uploader_handel" #fileSelector></div>
            <input *ngIf="!isWechat" (change)="choosePhoto($event)" class="weui-uploader__input" type="file" multiple [attr.capture]=" isAndroid ? 'microphone' : ''">
        </div>
    </div>
</div>